@model IEnumerable<MyProfile.Core.Models.Profile>

@{
    ViewBag.Title = "All Profiles";
}
<div class="col-md-12">
    <h3>Profile</h3>
</div>
<div class="col-md-12">
    @foreach (var item in Model)
    {
    <div class="container">
        <div class="col-md-4" style="height:450px; padding:10px;margin:10px;border:solid thin whitesmoke">
            <div class="col-md-12">
                <img class="img thumbnail" style="height:100px; width:250px" src="~/Content/Image/@item.Image" />
            </div>

            <div class="col-md-12">
                <strong>@Html.DisplayNameFor(model => model.FirstName)</strong>
                <div class="control-label">@item.FirstName</div>
            </div>
            <div class="col-md-12">
                <strong>@Html.DisplayNameFor(model => model.LastName)</strong>
                <div class="control-label">@item.LastName</div>  
            </div>
            <div class="col-md-12">
                <strong>@Html.DisplayNameFor(model => model.PreferedName)</strong>
                <div class="control-label">@item.PreferedName</div>
            </div>
            <div class="col-md-12">
                <strong>@Html.DisplayNameFor(model => model.Email)</strong>
                <div class="control-label">@item.Email</div>
            </div>
            <div class="col-md-12">
                <strong>@Html.DisplayNameFor(model => model.Description)</strong>
                <div class="control-label">@item.Description</div>
            </div>
        </div>
    </div>

    }
</div>
<div class="col-md-12 clearfix"></div>
