@model IEnumerable<MyProfile.Core.Models.Profile>

@{
    ViewBag.Title = "All Profiles";
}
<div class="col-md-12">
    <h3>Profile</h3>
</div>
<div class="col-md-12">
    @foreach (var item in Model)
    {
    <div class="container">
        <div class="col-md-4" style="height:450px; padding:10px;margin:10px;border:solid thin whitesmoke">
            <div class="col-md-12">
                <img class="img" style="height:250px" src="~/Content/Image/@item.Image" />
            </div>

            <div class="text-right">
                <div class="control-label">
                    <strong>@Html.DisplayNameFor(model => model.FirstName)</strong>
                    <div class="control-label">@item.FirstName</div>
                </div>
                
            </div>
            <div >
                <strong>@item.LastName</strong>
            </div>
            <div >
                <strong>@item.PreferedName</strong>
            </div>
            <div >
                <strong>@item.Email</strong>
            </div>
            <div >
                <p>@item.Description</p>
            </div>
        </div>
    </div>

    }
</div>
<div class="col-md-12 clearfix"></div>
